* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

:root {

    --main_text_color: #2F281E;
    --button_color: #BCD0E5;
    --h1_color: #2F281E;
    --p_hero: #544837;
    --second_text: #FF9900;
    --button_header_text_color: #173A56;
    --cursor_purple: #7752BE;
    --icon_heart: #F03E3D;
    --icon_hourglass: #4DADF7;

}

html,
body {
    height: 100%;
    width: 100%;

    color: var(--main_text_color);

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 5px;
}

.header__nav__list--no-style {
    list-style: none;

}

.header__nav__list-item a {
    text-decoration: none;
    /* Added to remove underline */
}

.text__decoration-none {
    text-decoration: none;
}

.logo {
    width: 250px;
}

.logo img {
    width: 100%;
    display: block;
}

.header__content {
    display: flex;
    align-items: center;
    padding: 24px 0px;
    margin-top: 20px;
    margin-bottom: 30px;

}

.header__nav__list-item li {
    column-gap: 30px;
}

.header__nav__list li {
    display: inline-block;
    
}

.header__nav__list-item {
    display: flex;
    align-items: center;
    justify-content: center;
}